.katex-display > .katex {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -0.5em;
  padding-top: 0.5em;
  margin-bottom: -0.25em;
  padding-bottom: 0.25em;
}

footer {
  border-top: 1px solid black;
  margin-top: 1.5em;
  padding-top: 0.5em;
}
